{:deps
 {org.clojure/clojure                      {:mvn/version "1.12.0"}
  metosin/malli                            {:mvn/version "0.18.0"}
  com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.8"}
  dev.weavejester/ragtime                  {:mvn/version "0.11.0"}
  com.github.seancorfield/next.jdbc        {:mvn/version "1.3.1002"}
  com.github.seancorfield/honeysql         {:mvn/version "2.7.1310"}
  metosin/jsonista                         {:mvn/version "0.3.12"}
  org.xerial/sqlite-jdbc                   {:mvn/version "3.49.1.0"}
  org.slf4j/slf4j-api                      {:mvn/version "2.0.17"}
  org.slf4j/slf4j-simple                   {:mvn/version "2.0.17"}
  org.typedclojure/typed.clj.runtime       {:mvn/version "1.3.0"}}

 :paths ["src"
         "resources"]

 :aliases {:dev {:extra-deps
                 {vvvvalvalval/scope-capture      {:mvn/version "0.3.3"}
                  org.clojure/tools.nrepl         {:mvn/version "0.2.11"}
                  nubank/matcher-combinators      {:mvn/version "3.9.1"}
                  lambdaisland/kaocha-cloverage   {:mvn/version "1.1.89"}
                  lambdaisland/kaocha-junit-xml   {:mvn/version "1.17.101"}
                  org.clojure/test.check          {:mvn/version "1.1.1"}
                  com.gfredericks/test.chuck      {:mvn/version "0.2.13"}
                  org.typedclojure/typed.clj.checker {:mvn/version "1.3.0"}}
                 :extra-paths ["dev" "test"]}

           :jvm-base
           {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts   ["-m" "kaocha.runner"]}

           :nrepl
           {:extra-deps
            {nrepl/nrepl       {:mvn/version "1.3.0"}
             cider/cider-nrepl {:mvn/version "0.56.0"}}
            :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           :main
           {:main-opts ["-m" "cybersyn.main"]}

           :build {:deps       {}
                   :ns-default build}

           :lint
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.09.08"}}}

           :format {:extra-deps
                    {mvxcvi/cljstyle {:mvn/version "0.16.630"}}}

           :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
                   :metadata   {:doc/format :markdown}
                   :exec-fn    codox.main/generate-docs
                   :exec-args  {:source-paths ["src"]}}

           :outdated
           {:extra-deps {olical/depot {:mvn/version "1.8.4"}}}
           
           :typecheck
           {:extra-deps {org.typedclojure/typed.clj.checker {:mvn/version "1.3.0"}}
            :exec-fn    typed.clj.checker/check
            :exec-args  {:file-mapping {typed.clj.checker.check-config/file "typed.edn"}}}}}
