{:check {:check-ns-dep-order
         {:namespaces [cybersyn.main]}}
 
 :global {:ignore
          {:exclude [(typed.ann.clojure/defn)
                     (fn [])
                     (defn)]}
          
          :check-config
          {:check-ns-load true
           :check-ns-meta true}}}